<div fxLayoutAlign="center center" fxFlex="100" fullscreen >
    <form role="form" (submit)="login()" fxFlex="30" fxFlex.sm="40" fxFlex.xs="80">
        <mat-card fxLayout="column" fxLayoutAlign="center">
            <mat-card-title fxLayoutAlign="center center">
                АВТОРИЗАЦИЯ
            </mat-card-title>
            <mat-card-content class="card-content">
                <mat-form-field>
                    <input matInput 
                            type="text"
                            required 
                            [(ngModel)]="username" 
                            id="username" 
                            name="username">
                    <mat-placeholder fxFLex="100">
                        <md-icon>Логин</md-icon>
                    </mat-placeholder>
                </mat-form-field>
                <mat-form-field>
                    <input matInput 
                            type="password" 
                            required 
                            [(ngModel)]="password" 
                            id="password" 
                            name="password">
                    <mat-placeholder>
                        <md-icon>Пароль</md-icon>
                    </mat-placeholder>
                </mat-form-field>
            </mat-card-content>
            <span *ngIf="error" class="error"><small>{{ error }}</small></span>
            <div fxLayoutAlign="space-around center" fxFlex="50">
                <button mat-raised-button color="primary" fxLayout="row" type="submit" fxLayoutAlign="center center" fxFlex="40">
                    Войти
                </button>
                <button mat-raised-button color="primary" fxLayout="row" (click)="signUp()" fxLayoutAlign="center center" fxFlex="40">
                    Зарегистрироваться
                </button>
            </div>
        </mat-card>
    </form >
</div>
