<div fxLayoutAlign="center center"  fxFlex="100" fullscreen >
    <form role="form" (submit)="answer()" fxLayout="column" fxFlex="30" fxFlex.sm="40" fxFlex.xs="80">
        <mat-card fxLayoutAlign="center" fxLayout="column">
            <mat-radio-group [(ngModel)]="selectedIndex" name="selectedIndex" fxLayout="column" >
                <mat-radio-button *ngFor="let answer of answers; let i = index" 
                    [value]="i"
                    name="answer{{i}}"
                    [disabled]="hasAnswered"> {{answer}} </mat-radio-button>
            </mat-radio-group>
            <button mat-raised-button color="primary" fxLayout="row" type="submit" fxLayoutAlign="center center" fxFlex="40">
                Ответить
            </button>
        </mat-card>
    </form>
</div>
