:host {
    display: block;
    height: 100vh;
    background: rgba(255, 213, 79, 0.521);
  }

button {
    opacity: 0.8;
    font-size: 2em;
    height: 80px;
}

.text {
    font-size: 4em;
    margin-bottom: 40px;
}