<div fxLayoutAlign="center center" fxFlex="100" fullscreen >
    <form role="form" (submit)="signUp()" fxFlex="30" fxFlex.sm="40" fxFlex.xs="80">
        <mat-card fxLayout="column" fxLayoutAlign="center">
            <mat-card-title fxLayoutAlign="center center">
                Sign Up
            </mat-card-title>
            <mat-card-content class="card-content">
                <mat-form-field>
                    <input matInput 
                            type="text"
                            required
                            [(ngModel)]="firstname" 
                            id="firstname" 
                            name="firstname">
                    <mat-placeholder fxFLex="100">
                        <md-icon>First Name</md-icon>
                    </mat-placeholder>
                </mat-form-field>
                <mat-form-field>
                    <input matInput 
                            type="text"
                            required
                            [(ngModel)]="lastName" 
                            id="lastName" 
                            name="lastName">
                    <mat-placeholder fxFLex="100">
                        <md-icon>Last Name</md-icon>
                    </mat-placeholder>
                </mat-form-field>
                <mat-form-field>
                    <input matInput 
                            type="email"
                            required
                            [(ngModel)]="email" 
                            id="email" 
                            name="email">
                    <mat-placeholder fxFLex="100">
                        <md-icon>Email</md-icon>
                    </mat-placeholder>
                </mat-form-field>
                <mat-form-field>
                    <input matInput 
                            type="password" 
                            required 
                            [(ngModel)]="password" 
                            id="password" 
                            name="password">
                    <mat-placeholder>
                        <md-icon>Password</md-icon>
                    </mat-placeholder>
                </mat-form-field>
                <mat-form-field>
                    <input matInput 
                            type="password" 
                            required 
                            [(ngModel)]="consfirmPassword" 
                            id="consfirmPassword" 
                            name="consfirmPassword">
                    <mat-placeholder>
                        <md-icon>Confirm Password</md-icon>
                    </mat-placeholder>
                </mat-form-field>
            </mat-card-content>
            <span *ngIf="error"><small>{{ error }}</small></span>
            <div fxLayoutAlign="center center" fxFlex="50">
                <button mat-raised-button color="primary" fxLayout="row" type="submit" fxLayoutAlign="center center" fxFlex="50">
                    Sign Up
                </button>
            </div>
        </mat-card>
    </form >
</div>